
<h2> id="bog_title">Bogly<%= link_to "", creatures_path, class: 'btn btn-primary btn-xs glyphicon glyphicon-plus pull-right' %></h2>
<% @creatures.each do |creature| %>
<div id="content" class="well">
    <%= link_to "", creature, class: 'btn btn-info btn-xs glyphicon glyphicon-zoom-in pull-right' %>
    <%= link_to "", edit_creature_path(creature), class: 'btn btn-warning btn-xs glyphicon glyphicon-edit pull-right' %>
    <%= link_to "", creature, method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove pull-right' %>
    <p><%= creature.name %></p>
    <p><%= creature.description %></p>
</div>
<% end %>